<!DOCTYPE html SYSTEM>
	<head>
		<meta charset="utf-8">
		<title>{{8d297ef76792cb016480984c69c6069182c75fa7}}</title>
		<link rel="stylesheet" href="unslider.css">
		<link rel="stylesheet" href="unslider-dots.css">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Lato:400,400italic,700" rel="stylesheet" type="text/css">
		<script src="jquery-2.1.4.min.js"></script>
		<script src="unslider-min.js"></script>
		<script>
			jQuery(document).ready(function($) {
				$('.tb-slider').unslider();
			});
		</script>
		<style type="text/css">
			body            { font-family: 'Lato'; color: white; margin: 0; padding: 0; }
			hr              { border: 0; height: 2px; background-color: white; }
			h1, h2          { font-family: 'Ubuntu Condensed'; text-align: center; font-weight: normal; }
			h2              { text-transform: uppercase; }
                        li              { height: 650px; }
			img             { display: block; margin: 0 auto; }
			p               { color: #333333; margin: 0 0 10px 0; padding: 0; }
                        .unslider       { position: relative; width: 800px; height: 650px; }
			.unslider-nav   { position: absolute; top: auto; bottom: 20px; left:0; right:0; }
			.unslider-arrow { display: block; width: 32px; height: 32px; overflow: hidden; top: 50%; margin-top: -16px;
				background: rgba(0,0,0,0.2) no-repeat 50% 50%;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
				border-radius: 32px;
				text-indent: -999em;
				opacity: .6;
				transition: opacity .2s; }
			.unslider-arrow:hover { opacity: 1; }
			.unslider-arrow.prev  { transform: rotate(-180deg); }
			.unslider-arrow.next  { }
			.slider-content       { font-weight: bold; margin: auto 60px 20px 60px; padding: 10px; box-shadow: 0 10px 10px #333333; border-radius: 5px; background-color: #cccccc; }
		</style>
	</link></link></link></head>
	<body>
		<main>
			<div class="tb-slider" style="height: 100%;">
				<ul>
					<li style="background-color: #5a6a70;">
						<h1>{{73ecd675a73b631c77eee228ec76d3aef19d84bc}}</h1>
						<h2>TheocBase</h2>
						<div class="slider-content">
							<p>{{d9164631361af3f08938d3362724207e161a516d}}</p>
							<p>{{8b7de617106328ba97e2f65439e642e114a5c457}}</p>
							<p>{{78c9faafa8cdefe7f8e0c76de2436bc0513835af}}</p>
							<img src="tie_man.png" width="50%" height="auto">
						</img></div>
					</li>
					<li style="background-color: #c18626;">
						<h1>{{76e7a3a3f9c225fe820ba7e9cff10ea2a73b79a1}}</h1>
						<div class="slider-content">
							<p>{{5a73067aa9ec4294fbb7e56829960c852e3ec096}}</p>
							<img src="1.png">
						</img></div>
						<div class="slider-content">
							<p>{{e0a57888c19140a700917aa84cb8faa16a661aa4}}</p>
							<img src="1.png">
						</img></div>
						<div class="slider-content">
							<p>{{a8d149777703b26b3460da351b24d20df30f1c98}}</p>
							<img src="1.png">
						</img></div>
					</li>
					<li style="background-color: #961526;">
						<h1>{{94000ac530beef5476bed0e8988e7e4592c55192}}</h1>
						<div class="slider-content">
							<p>{{1bf3f8d209891d0b59f7c4db512b0fadb6e8106d}}</p>
							<img src="2.png">
						</img></div>
						<div class="slider-content">
							<p>{{d802260b50e68fb0316d3d479666729208bbfd69}}</p>
							<img src="2.png">
						</img></div>
						<div class="slider-content">
							<p>{{2b1fd1d846bc5b12c0d74d0337d1f0e14ac4c07f}}</p>
							<img src="2.png">
						</img></div>
					</li>
					<li style="background-color: #2f4870;">
						<h1>{{7b4fb8fb74145343c48081b0e0fbd6973f6573ee}}</h1>
						<div class="slider-content">
							<p>{{c063cfabc5a11b1af5ff0c50270a1d2d26f44216}}</p>
							<img src="2.png">
						</img></div>
						<div class="slider-content">
							<p>{{32be03eed54d29f12b7d52cb5d93a3de12a5a491}}</p>
							<img src="2.png">
						</img></div>
					</li>
					<li style="background-color: #4d654d;">
						<h1>{{96731dbaea6a5720dd33b64dc334ff765eec736a}}</h1>
						<h2>{{56ecf97e6f1ee59dbc2a66d425a526e823f093e1}}</h2>
						<div class="slider-content">
							<p>{{2b3aa955dc862754675cfb32189ca0dec736a29e}}</p>
							<img src="2.png">
						</img></div>
						<div class="slider-content">
							<p>{{844b90b3997b65195dca5fa4fd092fb1fa0d5ec0}}</p>
							<img src="2.png">
						</img></div>
					</li>
				</ul>
			</div>
		</main>
	</body>