ol {
    white-space: nowrap;
    padding: 0 40px; }
li {
    white-space: normal;
}
li img {
    vertical-align: middle;
    display: inline-block; }
li p {
    white-space: normal;
    vertical-align: middle;
    display: inline-block; }

.toc li {
    list-style-type: none;
}

img {margin-bottom: 10px; padding-bottom: 10px; background-color: #80FFFFFF;}

.caution_text{
    color: #FF00CC; font-weight: bold; text-decoration: underline;
    background-color: #33FF00CC;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 10px; margin-right: 10px; margin-bottom: 0px;}
.caution{
    white-space: normal;
    background-color: #33FF00CC;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px;}

.note_text{
    color: #FFCC00; font-weight: bold; text-decoration: underline;
    background-color: #33FFCC00;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 10px; margin-right: 10px; margin-bottom: 0px;}
.note{
    white-space: normal;
    background-color: #33FFCC00;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px;}

.tip_text{
    color: #00CCFF; font-weight: bold; text-decoration: underline;
    background-color: #3300CCFF;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 10px; margin-right: 10px; margin-bottom: 0px;}
.tip{
    white-space: normal;
    background-color: #3300CCFF;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px;}

.pt_variable_description{color: #9933CC;}
.pt_loop_description{color: #009900;}
.blue{color: #0000CC;}
.green{color: #009900;}
.highlight_gray{background-color: #33999999;}
.nobr{white-space: nowrap;}
